* {
  font-family: 'Raleway';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  padding: 0 20px;
}

.logo-box {
  width: 2.9px;
  height: 6.11px;
  left: 35.54px;
  top: 8.56px;
}

.logo {
  width: 61.09px;
  height: 19px;
  left: 0px;
  top: 0px;
  
  background: #ffffff;  
}

.menu {
  width: 381px;
  height: 19px;
  left: 982px;
  top: 48px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  color: #0065FC;

} 

#menu_title1 {
  margin-left: 50px;
}


/* MAIN */
h1 {
  margin-left: 20px;
  font-size: 22px;
}

p {
  margin-left: 20px;
}

#search-box {
  display: flex;
  margin-left: 20px;
}

#search-button {
  background: #0065FC;
  color: white;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
}

#filters {
  display: flex;
}

/* #filtering-button {
  
} */

#available-accommodations {
  display: flex;
  margin-left: 20px;
}