* {
  font-family: "Raleway";
}

body {
  max-width: 1440px;
  margin: 0 auto;
  min-width: 320px;
}

/* HEADER  */
/* HEADER  */
/* HEADER  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  padding: 0 20px;
  padding-right: 0;
}

/* LOGO  */
/* LOGO  */
/* LOGO  */

.logo_box {
  display: flex;
}

.logo {
  width: 61.09px;
  height: 19px;
  background: #ffffff;
  margin-left: 1rem;
}

/* TOP MENU  */
/* TOP MENU  */
/* TOP MENU  */

.menu {
  width: 381px;
  height: 19px;
  left: 982px;
  top: 48px;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  padding-right: 25px;
  padding-left: 25px;
}

/* .menu_title:is(:hover, :focus) {
  border-top: #0065fc solid 3px;
  padding-top: 20px;
} */

nav a {
  text-decoration: none;
  color: black;
}

nav a:is(:hover, :focus) {
  color: #0065fc;
}

/* MAIN */
/* MAIN */
/* MAIN */

h1 {
  margin-left: 2rem;
  font-size: 22px;
}

h2 {
  margin-left: 2rem;
  font-size: 22px;
}

h3 {
  font-size: 14px;
}

p {
  margin-left: 2rem;
}

/* SEARCH-BOX */
/* SEARCH-BOX */
/* SEARCH-BOX */

#search-box {
  display: flex;
  margin-left: 2rem;
}

#search-pin {
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 15px 0px 0px 15px;
}

#search-button {
  background: #0065fc;
  padding: 15px;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border: 1px solid #0065fc;
  border-radius: 0px 15px 15px 0px;
  cursor: pointer;
}

#search-input {
  border: 1px solid #d3d3d3;
  font-size: 15px;
}

#magnifying-glass-logo {
  display: none;
}

/* FILTERS */
/* FILTERS */
/* FILTERS */

#filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 2rem;
}

#filters-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
}

#filters-title {
  margin-left: 0.3rem;
}

.filtering_button {
  padding: 1rem 1.6rem 1rem 1.6rem;
  border-radius: 40px;
  background-color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #d3d3d3;
  margin: 0rem 3rem 0rem 3rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.filtering_button:hover {
  background-color: #deebff;
}

.filtering_button:focus {
  background-color: #deebff;
}

.filtering_button_icon {
  padding-right: 0.8rem;
}

/* 500 ACCOMMODATIONS */
/* 500 ACCOMMODATIONS */
/* 500 ACCOMMODATIONS */

#available-accommodations {
  display: flex;
  margin-left: 2rem;
}

#information-icon {
  padding-right: 0.8rem;
}

#more-than-500-accommodations {
  margin-bottom: 3.5rem;
}

/* ACCOMMODATIONS */
/* ACCOMMODATIONS */
/* ACCOMMODATIONS */

#accommodations {
  display: flex;
  justify-content: space-between;
  margin-left: 2rem;
}

#accommodations #popular-accommodations-list {
  margin-right: 2rem;
}

/* MARSEILLE ACCOMMODATIONS */
/* MARSEILLE ACCOMMODATIONS */
/* MARSEILLE ACCOMMODATIONS */

#display-more {
  margin-left: 3.5rem;
  font-weight: bold;
  font-size: 18px;
  margin-top: 4rem;
}

#accommodations-list {
  background-color: #f2f2f2;
  border-radius: 20px;
}

.accommodations_title {
  margin-left: 3.5rem;
  margin-top: 3rem;
}

.card_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0 1rem 0 1rem;
}

.card {
  display: flex;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  margin: 1rem;
  flex-direction: column;
  width: 20rem;
}

.card h3 {
  margin: 0.4rem 0.4rem 0.4rem 1rem;
}

.card p {
  margin: 0.4rem 0.4rem 0.4rem 1rem;
}

.card .card_rating {
  margin: 0.4rem 0.4rem 0.8rem 1rem;
}

.accommodations_images_container img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 10rem;
  object-fit: cover;
}

/* POPULAR ACCOMMODATIONS */
/* POPULAR ACCOMMODATIONS */
/* POPULAR ACCOMMODATIONS */

#popular-accommodations-list {
  background-color: #f2f2f2;
  border-radius: 20px;
  margin-left: 3rem;
}

#popular-title-and-logo {
  display: flex;
  flex-direction: row;
}

#chart-logo {
  margin-top: 3.3rem;
  margin-left: 13rem;
}

.popular_card_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 34rem;
  padding-bottom: 1.5rem;
}

.popular_card {
  display: flex;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  border: 4px solid #ffffff;
  background-color: #ffffff;
  margin: 2rem 0 2rem 3rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  flex-direction: row;
  width: 26rem;
}

.card_description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.popular_accommodations_card_title {
  margin-left: 1rem;
  font-size: 16px;
}

.popular_accommodations_night_price {
  margin-left: 1rem;
  margin-top: -2rem;
}

.popular_card_rating {
  margin-left: 1rem;
}

.popular_accommodations_images_container img {
  border-radius: 1.5rem 0 0 1.5rem;
  width: 10rem;
  height: 11rem;
  object-fit: cover;
  display: block;
}
/* ACTIVITIES */
/* ACTIVITIES */
/* ACTIVITIES */

#activities-title {
  margin-bottom: 0;
  margin-top: 2rem;
}

.activities_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activities_card {
  display: flex;
  border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  width: 26rem;
  height: 40rem;
  margin: 2rem;
}

.activities_list_container img {
  border-radius: 1.5rem 1.5rem 0 0;
  width: 100%;
  height: 35rem;
  object-fit: cover;
}

.activities_title {
  padding: 0.5rem;
  margin-left: 1rem;
  margin-top: 1.2rem;
}

/* FOOTER */
/* FOOTER */
/* FOOTER */

#footer-cards-container {
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  margin: 3rem 2rem 0 2rem;
  justify-content: space-around;
}

.footer_list {
  display: flex;
  flex-direction: column;
}

.footer_card {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
}

.footer_list_links {
  display: flex;
  padding: 0.5rem 0.5rem 0.5rem 0rem;
  cursor: pointer;
}

/*                           */
/******* MEDIA QUERIES *******/
/*                           */

/* LAPTOP */
/* LAPTOP */
/* LAPTOP */

@media screen and (max-width: 1440px) {

  /* FILTERS */

  .filtering_button {
    margin: 0 1rem 0 1rem;
  }


  /* ACCOMMODATIONS */

  #accommodations {
    display: flex;
    flex-direction: row;
    margin-left: 0;
  }

  /* MARSEILLE ACCOMMODATIONS */

  #accommodations-list {
    margin: 0 2rem 3rem 3rem;
  }

  .card_container {
    padding: 0;
  }

  .card {
    width: 14rem;
  }

  /* POPULAR ACCOMMODATIONS */

  #popular-accommodations-list {
    margin-bottom: 3rem;
  }

  .popular_card_container {
    flex-direction: column;
    width: 100%;
  }

  .popular_card {
    margin: 2rem 2rem 2rem 2rem;
  }

  /* ACTIVITIES */

  .activities_card {
    width: 26rem;
    height: 25rem;
  }

  .activities_list_container img {
    height: 20rem;
  }
}

/* TABLET */
/* TABLET */
/* TABLET */

@media screen and (max-width: 1024px) {

  /* ACCOMMODATIONS */

  #accommodations {
    flex-direction: column;
  }

  /* FILTERS */

  #filters {
    flex-direction: row;
  }

  #filters-list {
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 0;
  }

  .filtering_button {
    margin-top: 1rem;

  }

  /* POPULAR */

  .popular_card_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .popular_accommodations_images_container img {
    width: 4rem;
    height: 100%;
  }

  .popular_accommodations_card_title {
    padding-bottom: 1rem;
  }

  .popular_card {
    margin: 2rem 0 2rem 1rem;
    width: 14rem;
    height: 9rem;
  }


  /* ACTIVITIES */

  .activities_card {
    height: 20rem;
    margin: 2rem 0.5rem 2rem 0.5rem;
  }

  .activities_list_container img {
    height: 15rem;
  }

  .activities_title {
    margin-top: 0;
  }

  .activities_list {
    margin: 0 1.5rem 0 1.5rem;
  }

}

/* MOBILE */
/* MOBILE */
/* MOBILE */

@media screen and (max-width: 425px) {

  /* BODY */

  body {
    margin: 1rem 0 0 0;
  }

  /* LOGO  */

  header {
    flex-direction: column;
  }

  /* MENU */

  header {
    padding: 0;
  }

  .menu {
    width: 100%;
  }

  nav li {
    width: 100%;
    margin-right: 0;
    border-bottom: #f2f2f2 solid 3px;
    padding-bottom: 1.5rem;
  }
  
  .menu_title:is(:focus, :focus) {
    border-top: 0;
    padding-top: 0;
  }

  #menu-title {
    margin: 0;
  }

  .menu_title {
    display: flex;
    justify-content: center;
  }

  /* MAIN */

  main h1 {
    margin-top: 3rem;
  }

  /* SEARCH-BOX */

  #search-box {
    width: 82%;
  }

  #search {
    display: none;
  }
  
  #search-input {
    width: 100%;
  }

  #magnifying-glass-logo {
    display: block;
  }

  /* FILTERS */

  #filters {
    display: flex;
    flex-wrap: wrap;
  }

  #filters-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 2rem;
  }

  .filtering_button {
    width: 50%;
    margin: 0;
    flex-basis: 30%;
    margin-right: 1rem;
    margin-top: 1rem;
  }

  .filtering_button_title {
    font-size: 11px;
  }

  /* ACCOMMODATIONS */

  #accommodations {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
  }

  #accommodations-list {
    background-color: #ffffff;
    margin-left: 0;
    margin-right: 0;
  }

  .accommodations_title {
    margin-left: 1rem;
  }

  /* POPULAR ACCOMMODATIONS */

  #popular-accommodations-list {
    border-radius: 0;
    margin-left: 0;
    width: 100%;
  }

  .popular_card {
    width: 82%;
    margin: 0 2rem 1rem 2rem;
  }

  .popular_card_container {
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  #chart-logo {
    margin-left: 5rem;
  }

  /* MARSEILLE ACCOMMODATIONS */

  .accommodations_images_container img {
    height: 7rem;
  }

  .card {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 20rem;
  }

  .card h3 {
    margin: 0.2rem 0.2rem 0.2rem 1rem;
  }

  .card p {
    margin: 0.2rem 0.2rem 0.2rem 1rem;
  }

  .card .card_rating {
    margin: 0.2rem 0.2rem 0.2rem 1rem;
  }

  #display-more {
    font-size: 0;
  }

  .card_container {
    max-width: 100%;
  }

  .accommodations_title {
    margin-left: 2rem;
  }

  /* ACTIVITIES */

  .activities_list {
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .activities_card {
    max-width: 100%;
    height: 12rem;
    margin: 2rem 0 2rem 0;
  }

  .activities_list_container img {
    height: 9rem;
    max-width: 100%;
  }

  .activities_title {
    padding: 0.5rem;
    margin-left: 1rem;
    margin-top: 0.3rem;
  }

  #activities-title {
    margin-left: 3.5rem;
  }

  /* FOOTER */

  #footer-cards-container {
    flex-direction: column;
    margin: 2rem 0 0 0;
    padding-top: 2rem;
  }

  .footer_card {
    padding: 0 0 2rem 3.5rem;
  }

  .footer_list_links:hover {
    border-bottom: #f2f2f2 solid 3px;
    padding-bottom: 0.5rem;
  }
}
